body{
  font-family: Arial;
  color:white;
  text-align:center;

  /* BACKGROUND GAMBAR */
  background: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

/* overlay biar gelap elegan */
body::before{
  content:"";
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  z-index:-1;
}

/* JUDUL */
h1{
  margin:20px;
  font-size:28px;
  animation: fadeDown 1s ease;
}

/* CONTAINER */
.container{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

/* CARD */
.card{
  background:rgba(30,41,59,0.8);
  padding:10px;
  border-radius:15px;
  width:150px;
  cursor:pointer;
  transition:0.4s;

  /* animasi masuk */
  opacity:0;
  transform: translateY(30px);
  animation: muncul 0.8s forwards;
}

.card:hover{
  transform:scale(1.1);

  /* glow effect */
  box-shadow: 0 0 15px #22c55e;
}

.card img{
  width:100%;
  border-radius:10px;
}

/* SEARCH */
#search{
  padding:10px;
  width:80%;
  max-width:300px;
  border-radius:10px;
  border:none;
  margin:10px;
}

/* FILTER */
.filter button{
  margin:5px;
  padding:8px 12px;
  border:none;
  background:#22c55e;
  cursor:pointer;
  border-radius:8px;
  transition:0.3s;
}

.filter button:hover{
  background:#16a34a;
}

/* POPUP */
#popup{
  display:none;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  opacity:0;
  transition:0.3s;
}

#popup.show{
  opacity:1;
}

.popup-content{
  background:white;
  color:black;
  padding:20px;
  border-radius:15px;
  width:80%;
  max-width:300px;
  transform:scale(0.7);
  transition:0.3s;
}

#popup.show .popup-content{
  transform:scale(1);
}

.popup-content img{
  width:100%;
  border-radius:10px;
}

/* ANIMASI */
@keyframes muncul{
  to{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fadeDown{
  from{
    opacity:0;
    transform: translateY(-20px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}

footer{
  margin-top:20px;
  }
